body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  text-align: center;
}

header {
  background-color: #128C7E;
  color: white;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 50px 20px;
}

.btn {
  background-color: #25D366;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background-color: #128C7E;
}

footer {
  background: #f1f1f1;
  padding: 10px;
  font-size: 14px;
  color: #333;
}
